# ----------------------------------
# Node / Package folders
# ----------------------------------
node_modules/
dist/
build/
tmp/
temp/
.tmp
.temp

# ----------------------------------
# Next.js build folders
# ----------------------------------
.next/
.next/*
.vercel/

# Qodo builder/cache
.qodo/

# ----------------------------------
# Environment variables
# ----------------------------------
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# ----------------------------------
# Firebase credentials
# ----------------------------------
serviceAccount.json

# ----------------------------------
# OS / Editor junk
# ----------------------------------
.DS_Store
.vscode/
.idea/

# ----------------------------------
# Log files
# ----------------------------------
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.err
test-results/
uploads/
e2e/test-resume.txt
